* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

body {
  background-image: url("./assets/background.png");
  color: #fff;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 100%;
  max-width: 330px;
  background-color: #212121;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 20px;

  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;

    span {
      color: greenyellow;
    }
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login__input {
  border: none;
  padding: 15px;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: #121212;
  color: #fff;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.login__input:focus {
  outline: 2px solid #fff;
}

.login__button {
  border: none;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 700;
  background-color: #ddd;
  cursor: pointer;
  color: #121212;
}

.login__button:hover {
  background-color: #fff;
}

.chat {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.chat__message {
  flex-grow: 1;
  padding: 30px 30px 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
  }
}

.chat__form {
  background-color: #191919;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat__input {
  border: none;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  flex-grow: 1;
  background-color: #212121;
  outline: none;
  color: #fff;
  font-size: 1rem;
}

.chat__button {
  border: none;
  background: none;
  cursor: pointer;

  img {
    width: 2rem;
  }
}

.message--self {
  background-color: #fff;
  color: #121212;
  border-radius: 10px 10px 0px 10px;
  -webkit-border-radius: 10px 10px 0px 10px;
  -moz-border-radius: 10px 10px 0px 10px;
  -ms-border-radius: 10px 10px 0px 10px;
  -o-border-radius: 10px 10px 0px 10px;
  align-self: flex-end;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message--other {
  background-color: #333;
  color: #fff;
  border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  -moz-border-radius: 0px 10px 10px 10px;
  -ms-border-radius: 0px 10px 10px 10px;
  -o-border-radius: 0px 10px 10px 10px;
  align-self: flex-start;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message--sender {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  color: aqua;
}
